URL=https://test.url
SHOPDIR=/shop
TEST_PRODUCT_ID=619
WORKERS=1
REPEAT_EACH=5

CHECKOUT_EMAIL=test@dev.com
CHECKOUT_FIRST=Play
CHECKOUT_LAST=Wright
CHECKOUT_ADDR=Address
CHECKOUT_CITY=City
CHECKOUT_POST=2100
CHECKOUT_TEL=12345678

